<table class="profile">
        <tr>
                <td class="main">
                        <% unless @user.microposts.empty? %>
                                <table class="microposts" summary="User microposts">
                                        <% @feed_items = @user.microposts.paginate(:page => params[:page]) %>
                                        <%= render 'shared/feed' , :collection => @feed_items %>
                                </table>
                        <% end %>
                        <%= will_paginate @feed_items %>
                </td>
                <td  class="sidebar round">
                        <strong>Name</strong> <%= @user.name %><br />
                        <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
                        <strong>Microposts</strong> <%= @user.microposts.count %>
                </td>
        </tr>
</table>
